@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background: -o-linear-gradient(164deg, #4F32FA 0%, #12007B 99.44%);
  background: linear-gradient(286deg, #4F32FA 0%, #12007B 99.44%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  min-width: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
  row-gap: 0.625rem;
}

.menu__link {
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #e2ecee;
  text-shadow: 2px 4px 3px #000;
}

.menu__link:active {
  text-shadow: none;
}

.icon-menu {
  display: none;
}

.footer {
  background: -o-linear-gradient(164deg, #4F32FA 0%, #12007B 99.44%);
  background: linear-gradient(286deg, #4F32FA 0%, #12007B 99.44%);
  width: 100%;
}

.footer__container {
  min-height: 8.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.footer__privacy {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #C9D3E9;
}

.confidential {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 0.625rem;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #C9D3E9;
}

.confidential__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.confidential__link:hover {
  color: #e2ecee;
  text-shadow: 2px 4px 3px #000;
}

.confidential__link:active {
  text-shadow: none;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background: -o-linear-gradient(184deg, #4F32FA 0%, #12007B 99.44%);
    background: linear-gradient(266deg, #4F32FA 0%, #12007B 99.44%);
    overflow: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background: -o-linear-gradient(164deg, #4F32FA 0%, #12007B 99.44%);
    background: linear-gradient(286deg, #4F32FA 0%, #12007B 99.44%);
    left: -100%;
    top: 0;
    z-index: 2;
    min-height: 6.25rem;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    padding-top: 12.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;
  }

  .menu__link {
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.25rem;
  }

  .confidential__link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .footer__privacy {
    font-size: 1.0625rem;
  }

  .confidential {
    font-size: 1.0625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 84.375em) {
  .footer__privacy {
    font-size: 1.25rem;
  }

  .confidential {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 84.375em) {
@supports (font-size: clamp( 1.0625rem , 1.0042475728rem  +  0.2912621359vw , 1.25rem )) {
    .footer__privacy {
      font-size: clamp( 1.0625rem , 1.0042475728rem  +  0.2912621359vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 1.0042475728rem  +  0.2912621359vw , 1.25rem )) {
    .footer__privacy {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 64.375);
    }
}

@supports (font-size: clamp( 1.0625rem , 1.0042475728rem  +  0.2912621359vw , 1.25rem )) {
    .confidential {
      font-size: clamp( 1.0625rem , 1.0042475728rem  +  0.2912621359vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 1.0042475728rem  +  0.2912621359vw , 1.25rem )) {
    .confidential {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 64.375);
    }
}
}